@charset "UTF-8";
body {
  font-family: Lato, Arial, Helvetica, sans-serif;
  min-width: 320px;
  background-attachment: fixed;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url("../images/bg.png"); }

b, strong {
  font-weight: normal;
  font-weight: 900; }

h1, h2, h3, h4, h5, h6 {
  font-weight: 500;
  letter-spacing: 0.175em;
  line-height: 1.25;
  margin: 0 0 1.5rem 0; }

ul, ol {
  margin: 0;
  padding: 0;
  margin: 0 0 2rem 0; }

.clearfix::after {
  display: block;
  content: "";
  clear: both; }

/*! * Tecnegocios - Soluções WEB | Copyright Restaurante Vovó Brasileira */
body {
  color: #795d5f; }

header {
  padding-top: 30px;
  background: #fff; }
  header h1 {
    max-width: 300px;
    margin: 0 auto;
    margin-bottom: 30px; }
    header h1 img {
      width: 100%; }
  header nav {
    display: block;
    text-align: center;
    background: #e0182a; }
    header nav ul {
      margin: 0;
      padding: 0;
      cursor: default; }
      header nav ul li {
        display: inline-block; }
        header nav ul li a {
          color: #fff;
          font-size: 14px;
          padding: 12px 10px;
          display: block; }
          header nav ul li a:hover {
            color: #fff; }

h2, h3 {
  margin: 0;
  text-align: center; }

h2 {
  font-weight: 600;
  margin-bottom: 40px;
  color: #e0182a; }
  h2 span {
    font-weight: 800; }

.vb-parallax {
  position: relative;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover; }

section.vb-carousel #vbCarousel .owl-dots {
  position: absolute;
  margin-top: -36px;
  width: 100%; }
  section.vb-carousel #vbCarousel .owl-dots .owl-dot {
    outline: none; }
    section.vb-carousel #vbCarousel .owl-dots .owl-dot span {
      background: #fff; }
    section.vb-carousel #vbCarousel .owl-dots .owl-dot.active span, section.vb-carousel #vbCarousel .owl-dots .owl-dot:hover span {
      background: rgba(255, 255, 255, 0.5); }

section.vb-sobre {
  background: #e6e7e9;
  padding: 80px 0; }
  section.vb-sobre img {
    float: left;
    position: relative;
    margin: 0 30px 20px 0;
    top: 6px;
    width: 100%;
    max-width: 460px; }

section.vb-cardapio .title-bg {
  position: relative;
  padding: 80px 0 160px 0;
  text-align: center;
  background-color: #57262c;
  background-image: url("../images/IMG-20180427-WA0117.jpg");
  color: #fff; }
  section.vb-cardapio .title-bg:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.4);
    background-image: url("../images/mask.png"); }
  section.vb-cardapio .title-bg h2, section.vb-cardapio .title-bg p {
    position: relative; }

section.vb-cardapio .vb-cardapio-items {
  margin-top: -100px; }
  section.vb-cardapio .vb-cardapio-items #vbCarouselCardapio .item {
    cursor: pointer; }
    section.vb-cardapio .vb-cardapio-items #vbCarouselCardapio .item span {
      display: block;
      position: relative;
      background: #e0182a;
      font-size: 22px;
      color: #fff;
      padding: 66px 15px 96px 15px;
      text-align: center; }
      section.vb-cardapio .vb-cardapio-items #vbCarouselCardapio .item span:before {
        content: '+';
        position: absolute;
        font-size: 1.6rem;
        left: 0;
        bottom: 0;
        background: rgba(0, 0, 0, 0.25);
        width: 100%;
        height: 44px;
        text-align: center; }
  section.vb-cardapio .vb-cardapio-items #vbCarouselCardapio .owl-nav {
    margin: 0; }
    section.vb-cardapio .vb-cardapio-items #vbCarouselCardapio .owl-nav button.owl-next, section.vb-cardapio .vb-cardapio-items #vbCarouselCardapio .owl-nav button.owl-prev {
      font-size: 100px;
      padding: 0;
      background-color: transparent;
      outline: none;
      color: #e0182a; }

section.vb-redes-sociais {
  background: #79626517;
  padding: 80px 0;
  text-align: center; }
  section.vb-redes-sociais a {
    color: #f47e31; }

section.vb-receita-da-vovo {
  background: #fff;
  padding: 80px 0; }
  section.vb-receita-da-vovo img {
    float: left;
    margin: 0 30px 20px 0;
    width: 100%;
    max-width: 460px; }
  section.vb-receita-da-vovo h4 {
    margin-bottom: 1rem;
    font-weight: 600;
    background: #795d5f;
    color: #ffffff;
    padding: 5px 10px;
    display: inline-block; }

section.vb-contato {
  background-color: #ec8128;
  background-image: url("../images/bg-contato.jpg"); }
  section.vb-contato .vb-contato-content {
    background-color: rgba(0, 0, 0, 0.6);
    background-image: url("../images/mask.png");
    padding: 80px 0; }
    section.vb-contato .vb-contato-content ul {
      list-style: none;
      padding-left: 0;
      text-align: right;
      margin: 0; }
      section.vb-contato .vb-contato-content ul > li {
        display: block;
        margin: 0 0 3rem 0;
        padding-right: 15px;
        color: #fff; }
        section.vb-contato .vb-contato-content ul > li:last-child {
          margin-bottom: 0; }
        section.vb-contato .vb-contato-content ul > li h4 {
          margin: 0 0 .5rem 0;
          font-size: 0.875rem;
          text-transform: uppercase; }
        section.vb-contato .vb-contato-content ul > li a {
          color: #fff; }
        section.vb-contato .vb-contato-content ul > li ul li {
          display: inline-block;
          margin-left: 10px;
          padding-right: 0; }
    section.vb-contato .vb-contato-content form input[type="text"], section.vb-contato .vb-contato-content form input[type="email"], section.vb-contato .vb-contato-content form input[type="tel"] {
      height: 3rem; }
    section.vb-contato .vb-contato-content form input[type="text"], section.vb-contato .vb-contato-content form input[type="email"], section.vb-contato .vb-contato-content form input[type="tel"], section.vb-contato .vb-contato-content form select, section.vb-contato .vb-contato-content form textarea {
      -moz-appearance: none;
      -webkit-appearance: none;
      -ms-appearance: none;
      appearance: none;
      border-radius: 0.325rem;
      border: solid 2px rgba(144, 144, 144, 0.25);
      color: inherit;
      display: block;
      outline: 0;
      padding: 0 1rem;
      text-decoration: none;
      width: 100%;
      font-size: 1rem;
      font-weight: 300;
      letter-spacing: 0.0375em;
      line-height: 2;
      margin-bottom: 20px; }
    section.vb-contato .vb-contato-content form textarea {
      padding: 0.75rem 1rem; }
    section.vb-contato .vb-contato-content form a {
      -moz-transition: background-color 0.25s ease-in-out, box-shadow 0.25s ease-in-out, color 0.25s ease-in-out;
      -webkit-transition: background-color 0.25s ease-in-out, box-shadow 0.25s ease-in-out, color 0.25s ease-in-out;
      -ms-transition: background-color 0.25s ease-in-out, box-shadow 0.25s ease-in-out, color 0.25s ease-in-out;
      transition: background-color 0.25s ease-in-out, box-shadow 0.25s ease-in-out, color 0.25s ease-in-out;
      border-radius: 0.325rem;
      display: inline-block;
      font-size: 0.7rem;
      font-weight: 600;
      height: 3rem;
      letter-spacing: 0.175em;
      line-height: 3rem;
      padding: 0 2rem;
      text-align: center;
      text-decoration: none;
      text-transform: uppercase;
      white-space: nowrap;
      background-color: #e0182a;
      color: #fff; }
      section.vb-contato .vb-contato-content form a:hover {
        background-color: #e64756; }

.vb-error {
  border-color: #e64756 !important; }

footer {
  padding: 40px;
  text-align: center; }
