body {
	font-family: Lato, Arial, Helvetica, sans-serif;
	min-width: 320px;
	background-attachment: fixed;
	background-position: center center;
	background-repeat: no-repeat;
	background-size: cover;
	background-image: url('../images/bg.png');
}

b, strong {
	font-weight: normal;
	font-weight: 900;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: 500;
  letter-spacing: 0.175em;
  line-height: 1.25;
  margin: 0 0 1.5rem 0;
}

ul, ol {
  margin: 0;
  padding: 0;
  margin: 0 0 2rem 0;
}

@mixin clearfix() {
  &::after {
    display: block;
    content: "";
    clear: both;
  }
}
.clearfix {
  @include clearfix;
}

/*! * Tecnegocios - Soluções WEB | Copyright Restaurante Vovó Brasileira */

body {
	color: #795d5f
}

header {
 	padding-top: 30px;
 	background: #fff;
 	h1 {
 		max-width: 300px;
 		margin: 0 auto;
 		margin-bottom: 30px;
 		img {
 			width: 100%;
 		}
 	}
 	nav {
 		display: block;
 		text-align: center;
 		background: #e0182a;
 		ul {
 			margin: 0;
 			padding: 0;
 			cursor: default;
 			li {
 				display: inline-block;
 				a {
 					color: #fff;
 					font-size: 14px;
 					padding: 12px 10px;
 					display: block;
 					&:hover {
 						color: #fff;
 					}
 				}
 			}
 		}
 	}
}

h2, h3 {
 	margin: 0;
 	text-align: center;
}
h2 {
	font-weight: 600;
 	margin-bottom: 40px;
 	color: #e0182a;
 	span {
 		font-weight: 800;
 	}
}

.vb-parallax {
	position: relative;
	background-attachment: fixed;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}

section {
 	&.vb-carousel {
 		#vbCarousel {
 			.owl-dots {
 				position: absolute;
		    margin-top: -36px;
		    width: 100%;
		    .owl-dot {
		    	outline: none;
			    span {
			    	background: #fff;
			    }
			    &.active, &:hover {
				    span {
				    	background: rgba(255,255,255,0.5);
				    }
			    }
		    }
 			}
 		}
 	}
 	&.vb-sobre {
 		background: #e6e7e9;
 		padding: 80px 0;
 	}
 	&.vb-cardapio {
 		.title-bg {
 			position: relative;
 			padding: 80px 0 160px 0;
 			text-align: center;
 			background-color: #57262c;
		  background-image: url('../images/IMG-20180427-WA0117.jpg');
		  color:#fff;
		  &:before {
		  	content: '';
		  	position: absolute;
		  	top: 0;
		  	left: 0;
		  	width: 100%;
		  	height: 100%;
		  	background-color: rgba(0, 0, 0,0.4);
		  	background-image: url('../images/mask.png');
		  }
		  h2, p {
		  	position: relative;
		  }
 		}
 		.vb-cardapio-items {
			margin-top: -100px;
			#vbCarouselCardapio {
				.item {
					cursor: pointer;
					span {
						display: block;
						position: relative;
						background: #e0182a;
						font-size: 22px;
						color:#fff;
						padding: 66px 15px 96px 15px;
    				text-align: center;
						&:before {
							content: '+';
					    position: absolute;
					    font-size: 1.6rem;
					    left: 0;
					    bottom: 0;
					    background: rgba(0,0,0,0.25);
					    width: 100%;
					    height: 44px;
					    text-align: center;
						}
					}
				}
				.owl-nav {
					margin: 0;
					button.owl-next, button.owl-prev {
						font-size: 100px;
						padding: 0;
						background-color: transparent;
						outline: none;
						color: #e0182a;
					}
				}
			}
 		}
 	}
 	&.vb-redes-sociais {
 		background: #79626517;
 		padding: 80px 0;
		text-align: center;
		a {
			color: #f47e31;
		}
 	}
 	&.vb-fotos {
		
 	}
 	&.vb-receita-da-vovo {
 		background: #fff;
 		padding: 80px 0;
 		h4 {
 			border-top: 1px solid rgba(0,0,0,.1);
 			border-bottom: 1px solid rgba(0,0,0,.1);
 			margin-bottom: 1rem;
 			padding: 5px 0;
 		}
 	}
 	&.vb-contato {
 		background-color: #ec8128;
 		background-image: url('../images/bg-contato.jpg');
 		.vb-contato-content {
 			background-color: rgba(0, 0, 0, 0.6);
 			padding: 80px 0;
	 		ul {
	 			list-style: none;
	    	padding-left: 0;
	    	text-align: right;
	    	margin: 0;
	 			> li {
	 				display: block;
	 				margin: 0 0 3rem 0;
	 				padding-right: 15px;
	 				color:#fff;
	 				&:last-child {
	 					margin-bottom: 0;
	 				}
	 				h4 {
	 					margin: 0 0 .5rem 0;
	 					font-size: 0.875rem;
	 					text-transform: uppercase;
	 				}
	 				a {
	 					color: #fff;
	 				}
	 				ul {
	 					li {
	 						display: inline-block;
	 						margin-left: 10px;
	 						padding-right: 0;
	 					}
	 				}
	 			}
	 		}
	 		form {
	 			input[type="text"], input[type="email"], input[type="tel"] {
	 				height: 3rem;
	 			}
	 			input[type="text"], input[type="email"], input[type="tel"], select, textarea {
			    -moz-appearance: none;
			    -webkit-appearance: none;
			    -ms-appearance: none;
			    appearance: none;
			    border-radius: 0.325rem;
			    border: solid 2px rgba(144, 144, 144, 0.25);
			    color: inherit;
			    display: block;
			    outline: 0;
			    padding: 0 1rem;
			    text-decoration: none;
			    width: 100%;
			    font-size: 1rem;
			    font-weight: 300;
			    letter-spacing: 0.0375em;
			    line-height: 2;
			    margin-bottom: 20px;
				}
				textarea {
			    padding: 0.75rem 1rem;
				}
				a {
			    -moz-transition: background-color 0.25s ease-in-out, box-shadow 0.25s ease-in-out, color 0.25s ease-in-out;
			    -webkit-transition: background-color 0.25s ease-in-out, box-shadow 0.25s ease-in-out, color 0.25s ease-in-out;
			    -ms-transition: background-color 0.25s ease-in-out, box-shadow 0.25s ease-in-out, color 0.25s ease-in-out;
			    transition: background-color 0.25s ease-in-out, box-shadow 0.25s ease-in-out, color 0.25s ease-in-out;
			    border-radius: 0.325rem;
			    display: inline-block;
			    font-size: 0.7rem;
			    font-weight: 600;
			    height: 3rem;
			    letter-spacing: 0.175em;
			    line-height: 3rem;
			    padding: 0 2rem;
			    text-align: center;
			    text-decoration: none;
			    text-transform: uppercase;
			    white-space: nowrap;
					background-color: #e0182a;
					color: #fff;
					&:hover {
						background-color: #e64756;
					}
				}
	 		}
	 	}
 	}
}

.vb-error {
	border-color: #e64756 !important;
}

footer {
	padding: 40px;
	text-align: center;
}